
CommunityRecolors/BTOS2/EgotistBase/Design Notes.txt
CommunityRecolors/BTOS2/JackalBase/Design Notes.txt
CommunityRecolors/BTOS2/PandoraBase/Design Notes.txt
CommunityRecolors/Common/ApocalypseBase/Design Notes.txt
CommunityRecolors/Common/CovenBase/Design Notes.txt
CommunityRecolors/Common/DoomsayerBase/Design Notes.txt
CommunityRecolors/Common/TownBase/Design Notes.txt
